DB_NAME=movies_database
DB_USER=app
DB_PASSWORD=123qwe
DB_HOST=localhost
SECRET_KEY='django-insecure-c@muw8!_q(m)2be_#+cif+4^&!t_pxgggha*)v38=aqphx_qrv'
DEBUG=True
ALLOWED_HOSTS=127.0.0.1,admin-panel,auth-api,content-delivery-api,jaeger-ui,ugc-operations
CSRF_TRUSTED_ORIGINS=http://admin-panel:8080
CORS_ALLOWED_ORIGINS=http://admin-panel:8080
AUTH_API_LOGIN_URL=http://auth-service:8000/api/v1/auth/login
AUTH_API_USERS_URL=http://auth-service:8000/api/v1/users
AUTH_API_ROLES_URL=http://auth-service:8000/api/v1/roles